@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tema Claro - Padrão (Valores em RGB para suportar opacidade) */
    --bg-color: 248 250 252;
    --text-color: 15 23 42;
    --primary-color: 29 78 216;
    --secondary-bg: 255 255 255;
    --border-color: 226 232 240;
  }

  html.dark {
    /* Tema Escuro */
    --bg-color: 11 17 32;
    --text-color: 203 213 225;
    --primary-color: 56 189 248;
    --secondary-bg: 30 41 59;
    --border-color: 51 65 85;
  }
}